rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /staging/{week}/{station}/{type}/{fileName} {
      allow read, write: if request.auth != null;
    }
    match /weekly/{week}/{station}/{type}/{fileName} {
      allow read, write: if request.auth != null;
    }
  }
}
